@model ZuHuanJingDemo2.Models.ViewModel.MemberEditViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>編輯會員</h1>
<div>
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="member.Member_Name" class="control-label"></label>
        <input asp-for="member.Member_Name" class="form-control" />
        <span asp-validation-for="member.Member_Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="member.Member_Account" class="control-label"></label>
        <input asp-for="member.Member_Account" class="form-control" />
        <span asp-validation-for="member.Member_Account" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="member.Member_Password" class="control-label"></label>
        <input asp-for="member.Member_Password" class="form-control" />
        <span asp-validation-for="member.Member_Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="member.Member_Email" class="control-label"></label>
        <input asp-for="member.Member_Email" class="form-control" />
        <span asp-validation-for="member.Member_Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="member.Is_Baned" class="control-label"></label>
        <div>
            <input asp-for="member.Is_Baned" />
        </div>
        <span asp-validation-for="member.Is_Baned" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="member.Member_CreateDate" class="control-label"></label>
        <input asp-for="member.Member_CreateDate" class="form-control" disabled />
        <span asp-validation-for="member.Member_CreateDate" class="text-danger"></span>
    </div>

    <div class="col-12">
        <h4>擁有的證照</h4>
        @foreach (var license in Model.licenses)
        {
            <div>
                <input type="checkbox" id="license_@license.License_Id" name="selectedLicenses" value="@license.License_Id"
                @(Model.member.Member_Licenses.Any(l => l.License_Id == license.License_Id) ? "checked" : "") />
                <label for="license_@license.License_Id">@license.License_Name</label>
            </div>
        }
    </div>



    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
