@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SysAdmDip4</a>*@
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">
                        <i class="fas fa-user"></i>
                        Privacy
                    </a>
                </li>
            </ul>
        </div>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
                    <strong>@User.Identity.Name</strong>
                </a>
                <ul class="dropdown-menu" aria-labelledby="homeDropdown">
                    <li><form asp-action="Logout" asp-controller="Home"><button class="dropdown-item" type="submit"><small>Logout</small></button></form></li>
                </ul>
            </div>
        }
        else
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="Login">Login</a>
        }
    </div>
</nav>