@model ZuHuanJingDemo2.Models.Course
@{
    ViewData["Title"] = "Create";
}
<h1>新增課程</h1>
<div class="card">
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card-header">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Back to List</a>
    </div>
    <div class="card-body">
    <div class="row">
        <div class="form-group col-lg-4 col-md-12 col-sm-12">
            <label asp-for="Course_Name" class="control-label"></label>
            <input asp-for="Course_Name" class="form-control" />
            <span asp-validation-for="Course_Name" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label asp-for="Course_Teacher" class="control-label"></label>
            <input asp-for="Course_Teacher" class="form-control" />
            <span asp-validation-for="Course_Teacher" class="text-danger"></span>
        </div>
        <div class="form-group col-lg-4 col-md-6 col-sm-12">
            <label asp-for="Course_IsActive" class="control-label"></label>
            <div>
                <input asp-for="Course_IsActive" type="radio" value=1 checked />是
                <input asp-for="Course_IsActive" type="radio" value=0 />否
            </div>
            <span asp-validation-for="Course_IsActive" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label asp-for="Course_MaxCount" class="control-label"></label>
            <input asp-for="Course_MaxCount" class="form-control" />
            <span asp-validation-for="Course_MaxCount" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label asp-for="Course_SumCount" class="control-label"></label>
            <input asp-for="Course_SumCount" class="form-control" value=0 />
            <span asp-validation-for="Course_SumCount" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label asp-for="Course_StartDate" class="control-label"></label>
            <input asp-for="Course_StartDate" class="form-control" />
            <span asp-validation-for="Course_StartDate" class="text-danger"></span>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <label asp-for="Course_EndDate" class="control-label"></label>
            <input asp-for="Course_EndDate" class="form-control" />
            <span asp-validation-for="Course_EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Course_CreateDate" class="control-label"></label>
        <input asp-for="Course_CreateDate" class="form-control" />
        <span asp-validation-for="Course_CreateDate" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="form-group col-12">
            <label asp-for="Course_Introduction" class="control-label"></label>
            <textarea class="form-control" name="Course_Introduction" id="editor" data-val-ignore="true" onchange="ContentChange()"></textarea>
            <input type="hidden" asp-for="Course_Introduction" id="CourseIntroduction" name="CourseIntroduction" />
            <span asp-validation-for="Course_Introduction" class="text-danger"></span>
        </div>
    </div>
    </div>
</form>
</div>
<script src="~/lib/ckeditor5/build/ckeditor.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        ClassicEditor
            .create(document.querySelector('#editor'), {
                toolbar: {
                    //items: [
                    //    'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList',
                    //    '|', 'alignment', 'outdent', 'indent', '|', 'fontSize', 'fontColor',
                    //    '|', 'imageUpload', 'blockQuote', 'insertTable', 'mediaEmbed',
                    //    'undo', 'redo'
                    //]
                    items: [
                        'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList',
                        '|', 'alignment', '|', 'fontSize', 'fontColor',
                        '|', 'blockQuote', 'undo', 'redo'
                    ]
                },
                image: {
                    toolbar: [
                        'imageTextAlternative', 'imageStyle:inline',
                        'imageStyle:block', 'imageStyle:side'
                    ]
                },
                table: {
                    contentToolbar: [
                        'tableColumn', 'tableRow', 'mergeTableCells'
                    ],
                },
                licenseKey: ''
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error(error);
            });
    });
    function getContent() {
        return ClassicEditor
            .instances
            .editor
            .getData();
    }

    function ContentChange() {
        var content = getContent();
        document.getElementById("CourseIntroduction").value = content;
    }
</script>