@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Text"]</h3>
@if (ViewBag.Text != null)
{
    <p class="alert">@ViewBag.Text</p>
}
<p>Use this page to detail your site's privacy policy.</p>
