@model IEnumerable<ZuHuanJingDemo2.Models.Course>
@{
    ViewData["Title"] = "Index";
}
<h1>課程列表</h1>
<hr />
<div class="row">
    <div class="col-12">
        <input name="search" value="" style="width:50%;" placeholder="可搜尋 : 編號、名稱、教師" />&ensp;
        <button id="searchbut" class="btn btn-info">搜尋</button>&ensp;
        <button id="clearbut" class="btn btn-primary">清空</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <label>排序項目</label>
        <div>
            <input name="sort" id="sort-id" value="Course_Id" type="radio"  hidden/>
            <input name="sort" id="sort-name" value="Course_Name" type="radio" checked />
            <label for="sort-name">名稱</label>
            <input name="sort" id="sort-account" value="Course_Teacher" type="radio" />
            <label for="sort-account">教師</label>
            <input name="sort" id="sort-date" value="Course_CreateDate" type="radio" />
            <label for="sort-date">創建日期</label>
        </div>
    </div>
    <div class="col-4">
        <label>排序方法</label>
        <div>
            <input name="sortfun" id="sort-asc" value="ASC" type="radio" checked />
            <label for="sort-asc">正序</label>
            <input name="sortfun" id="sort-desc" value="DESC" type="radio" />
            <label for="sort-desc">倒序</label>
        </div>
    </div>
    <div class="col-4">
        <label>排序日期</label>
        <div>
            <input name="sortdate" id="sort-all" value="all" type="radio" checked />
            <label for="sort-all">全部</label>
            <input name="sortdate" id="sort-planing" value="before" type="radio" />
            <label for="sort-planing">未開始</label>
            <input name="sortdate" id="sort-started" value="started" type="radio" />
            <label for="sort-started">已開始</label>
            <input name="sortdate" id="sort-ended" value="ended" type="radio" />
            <label for="sort-ended">已結束</label>
        </div>
    </div>
</div>
<div id="loadingIndicator"><div class="spinner"></div></div>

<table class="table" id="coursesTable">
    <thead>
        <tr>
            <th>
                名稱
            </th>
            <th>
                教師
            </th>
            <th>
                人數
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_CreateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course_IsActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_CourseList", Model)
    </tbody>
</table>
<link rel="stylesheet" href="~/css/IndexLoading.css" asp-append-version="true" />
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            searching()

            //清空按鈕點擊事件
            $("#clearbut").click(function () {
                $("input[name='search']").val('');
                searching()
            });
            // 搜尋按鈕點擊事件
            $("#searchbut").click(function () {
                searching()
            });
            // 排序选项改变事件
            $("input[name='sort']").change(function () {
                searching()
            });
            // 排序选项改变事件
            $("input[name='sortfun']").change(function () {
                searching()
            });
            // 排序日期选项改变事件
            $("input[name='sortdate']").change(function () {
                searching()
            });

            function searching() {
                showLoading(); // 显示加载状态
                var searchQuery = $("input[name='search']").val();
                var sortField = $("input[name='sort']:checked").val();
                var sortFun = $("input[name='sortfun']:checked").val();
                var sortDate = $("input[name='sortdate']:checked").val();
                var url = `/Main/Search?searchQuery=${searchQuery}&sortField=${sortField}&sortFun=${sortFun}&sortDate=${sortDate}&searching=Main`;
                $.get(url, function (data) {
                    $("#coursesTable tbody").html(data);
                })
                    .done(function () {
                        hideLoading(); // 请求完成后隐藏加载状态
                    })
                    .fail(function () {
                        hideLoading(); // 请求失败时隐藏加载状态
                    });
            }

            function showLoading() {
                // 显示加载状态，覆盖整个视窗
                var $loadingIndicator = $("#loadingIndicator");
                $loadingIndicator.fadeIn();
                $(document.body).css("overflow", "hidden"); // 禁用滚动条
            };

            function hideLoading() {
                // 隐藏加载状态
                var $loadingIndicator = $("#loadingIndicator");
                $loadingIndicator.fadeOut();
                $(document.body).css("overflow", ""); // 启用滚动条
            };
        });
    </script>
}