@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using Microsoft.EntityFrameworkCore;
@*@using SysAdmDip4.Data
@inject SysAdmDip4Context _context
@{
    int? roleId;
    if (User.Identity.IsAuthenticated)
    {
        roleId = _context.Member?.FirstOrDefault(m => m.Member_Name == User.Identity.Name)?.Member_RoleId;
    }
    else
    {
        roleId = 2;
    }
    var role = _context.Role?.Include(n => n.RoleFunctions).FirstOrDefault(n => n.Role_Id == roleId);
    var functionIds = role?.RoleFunctions.Select(r => r.FunctionId).ToList();
    var functions = _context.Function?.Where(f => functionIds.Contains(f.Function_Id)).ToList();
}*@

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="barlink nav-link" asp-area="" id="Members" asp-controller="Main" asp-action="Index">
                        <i class="fas fa-user"></i>
                        主頁
                    </a>
                </li>
                <li class="nav-item">
                    <a class="barlink nav-link" asp-area="" id="Courses" asp-controller="Main" asp-action="Course">
                        <i class="fas fa-book"></i>
                        課程
                    </a>
                </li>
                <li class="nav-item">
                    <a class="barlink nav-link" asp-area="" id="Licenses" asp-controller="Main" asp-action="License">
                        <i class="fas fa-id-card"></i>
                        證照
                    </a>
                </li>
            </ul>
        </div>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="homeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                    <strong>@User.FindFirst(MyClaimsTypes.Name)?.Value</strong><i class="bi bi-caret-down"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="homeDropdown">
                    <li><form asp-action="Logout" asp-controller="Home"><button class="dropdown-item" type="submit"><small>Logout</small></button></form></li>
                </ul>
            </div>
        }
        else
        {
            <a class="navbar-brand" asp-controller="Home" asp-action="Login">Login</a>
        }
    </div>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var currentPath = window.location.pathname;

        // 尋找與現在路徑相符的 nav-link
        if (currentPath.includes("/Members")) {
            $("a.barlink[id='Members']").addClass("text-danger");
        } else if (currentPath.includes("/Courses")) {
            $("a.barlink[id='Courses']").addClass("text-danger");
        } else if (currentPath.includes("/Licenses")) {
            $("a.barlink[id='Licenses']").addClass("text-danger");
        }
    });
</script>
<style>
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background: transparent;
        backdrop-filter: blur(20px);
        white-space: nowrap;
    }
</style>